<ion-content [fullscreen]="true">

  <!-- Botones para elegir -->
  <div class="segment-wrapper">
    <ion-segment [(ngModel)]="selectedForm" color="primary">
      <ion-segment-button value="login">Login</ion-segment-button>
      <ion-segment-button value="register">Registro</ion-segment-button>
    </ion-segment>
  </div>

  <!-- Formularios -->
  @if (selectedForm === 'login') {
  <app-login (payload)="onLogin($event)"></app-login>
  }
  @if (selectedForm === 'register') {
  <app-register (payload)="onRegister($event)"></app-register>
  }


</ion-content>