<div class="page-wrapper">

  <!-- Botones para elegir -->
  <div class="segment-wrapper">
    <div class="segment">
      <button [class.active]="selectedForm === 'login'" (click)="selectedForm = 'login'">
        Login
      </button>
      <button [class.active]="selectedForm === 'register'" (click)="selectedForm = 'register'">
        Registro
      </button>
    </div>
  </div>

  <!-- Formularios -->
  @if (selectedForm === 'login') {
  <app-login (payload)="onLogin($event)"></app-login>
  }
  @if (selectedForm === 'register') {
  <app-register (payload)="onRegister($event)"></app-register>
  }

</div>