<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h1>Registro</h1>

  <!-- Nombre -->
  <label for="firstName">Nombre</label>
  <input id="firstName" formControlName="firstName" type="text" />
  @if (registerForm.get('firstName')?.touched && registerForm.get('firstName')?.invalid) {
  <div>Campo obligatorio</div>
  }

  <!-- Apellido -->
  <label for="lastName">Apellido</label>
  <input id="lastName" formControlName="lastName" type="text" />
  @if (registerForm.get('lastName')?.touched && registerForm.get('lastName')?.invalid) {
  <div>Campo obligatorio</div>
  }

  <!-- Email -->
  <label for="email">Email</label>
  <input id="email" formControlName="email" type="email" />
  @if (registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')) {
  <div>Campo obligatorio</div>
  } @else if (registerForm.get('email')?.touched && registerForm.get('email')?.hasError('email')) {
  <div>Email no válido</div>
  }

  <!-- Edad -->
  <label for="age">Edad</label>
  <input id="age" formControlName="age" type="number" />
  @if (registerForm.get('age')?.touched && registerForm.get('age')?.hasError('required')) {
  <div>Campo obligatorio</div>
  } @else if (registerForm.get('age')?.touched && registerForm.get('age')?.hasError('min')) {
  <div>Edad no válida</div>
  }

  <!-- Contraseña -->
  <label for="password">Contraseña</label>
  <input id="password" formControlName="password" type="password" />
  @if (registerForm.get('password')?.touched && registerForm.get('password')?.invalid) {
  <div>Mínimo 8 caracteres</div>
  }

  <!-- Confirmar contraseña -->
  <label for="confirmPassword">Confirmar contraseña</label>
  <input id="confirmPassword" formControlName="confirmPassword" type="password" />
  @if (registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.invalid) {
  <div>Contraseña no coincide</div>
  }

  <!-- Botón -->
  <button type="submit">
    Registrarse
  </button>
</form>