<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <label position="floating">Email</label>
  <input formControlName="email" type="text">

  @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
  <div>Campo obligatorio</div>
  }

  <label position="floating">Contraseña</label>
  <input formControlName="password" type="password">

  @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
  <div>Mínimo 8 caracteres</div>
  }

  <button expand="block" type="submit">
    Iniciar sesión
  </button>

  <button (click)="onFastLogin('test10@gmail.com', '12345678')">Acceso rapido</button>
  <button (click)="onFastLogin('test20@gmail.com', '12345678')">Acceso rapido 2</button>
  <button (click)="onFastLogin('test30@gmail.com', '12345678')">Acceso rapido 3</button>

</form>