<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1>Login</h1>

  <!-- Email o Usuario -->
  <ion-item lines="none">
    <ion-label position="floating">Email</ion-label>
    <ion-input formControlName="email" type="text"></ion-input>
  </ion-item>
  @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
  <div>Campo obligatorio</div>
  }

  <!-- Password -->
  <ion-item lines="none">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input formControlName="password" type="password"></ion-input>
  </ion-item>
  @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
  <div>Mínimo 8 caracteres</div>
  }

  <!-- Botón -->
  <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">
    Iniciar sesión
  </ion-button>

</form>